.Modal {
  position: fixed;
  color: white;
  z-index: 500;
  background-color: rgb(36, 129, 145);
  width: 40%;
  border: 20px solid rgb(0, 104, 104);
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(17, 17, 17);
  padding: 16px;
  left: 30%;
  top: 17%;
  box-sizing: border-box;
  -webkit-transition: all 500ms cubic-bezier(0, 1, 1, 0.84); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0, 1.65, 1, 0.84);
  -moz-transition: all 500ms cubic-bezier(0, 1.65, 1, 0.84);
  -o-transition: all 500ms cubic-bezier(0, 1.65, 1, 0.84);
  transition: all 500ms cubic-bezier(0, 1.65, 1, 0.84); /* custom */
}

@media (max-width: 768px) {
  .Modal {
    min-width: 90%;
    left: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1040px) {
  .Modal {
    min-width: 60%;
    left: 20%;
  }
}
