.Gameboard {
  position: relative;
  display: inline-block;

  /* overflow-x: scroll; */
  overflow: hidden;
}
.Gameboard img {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  object-fit: fill;
}
